<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>IOP Util Files Generate</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

</head>
<body>
	<div class="container">
		<h1>IOP Util File Generate</h1>
		<div align="right">
		<a th:href="@{/Logout}" class="btn btn-primary link-danger">Logout</a>
		</div>
		<hr>
		<h2>Generate Parameters</h2>

		<form action="#" th:action="@{/GenerateFile}" th:object="${fileValidationParam}"
			method="POST">
			<p>	<b>File Type</b>		<select th:field="*{fileType}" class="form-control mb-4 col-4" id ="fileType">
			    <option th:value="ITAG" th:text="ITAG"></option>
			    <option th:value="ICLP" th:text="ICLP"></option>
				<option th:value="ITAGandICLP" th:text="ITAG-ICLP"></option>
				<option th:value="ICTX" th:text="ICTX"></option>
			</select>
			</p>
			<!-- <p><b>From Agency Code</b>
				<input type="text" th:field="*{fromAgency}" placeholder="From agency code" class="form-control mb-4 col-4" minlength="4" maxlength="4">
			</p> -->
			
			<p><b>From Agency Code</b>
							<select th:field="*{fromAgency}" class="form-control mb-4 col-4">
							     <option value="NONE">----Select Agency Code----</option>
							     <option th:each="entry : ${homeAgencyMap.entrySet()}" th:value="${entry.key}" th:text="${entry.value}">
							     </option>
							  </select>
						</p> 
			<div id="toAgencyCode">
			<p><b>To Agency Code</b>
							<input type="text" th:field="*{toAgency}" placeholder="From agency code" class="form-control mb-4 col-4" minlength="4" maxlength="4">
						</p>
						</div>			
			<!-- <p><b>File Record Count</b>
				<input type="number" th:field="*{recordCount}" placeholder="Total Record Count" class="form-control mb-4 col-4"  min="1" max="9999999999">
			</p> -->
			 <p><b>File Date</b>
							 <div class='input-group date mb-4 col-4' id='datepicker' >
							           <input type='text' class="form-control " th:field="*{fileDate}" />
							           <span class="input-group-addon">
							             <span class="glyphicon glyphicon-calendar"></span>
							           </span>
							         </div>
						</p> 
			<p><b>File Generation Path</b>
				<input type="text" th:field="*{outputFilePath}" placeholder="File Generation Path" class="form-control mb-4 col-4">
			</p>
			<div id="inputFilePath">
			<p><b>Input File Path</b>
							<input type="text" th:field="*{inputFilePath}" placeholder="Input data file Path" class="form-control mb-4 col-4">
						</p>
			</div>		
			<button type="submit" class="btn btn-info col-2">Generate</button>
		</form>

		<hr>
		<!-- <p th:text="|Result :: ${now}!|" /> -->
		<p><b>Result: </b><label th:text="${result}"></label></p>
		<a th:href="@{/AgencyList}"> Back to Agency Configuration</a>
	</div>
	
	    <script>
			$(function() {
			  $('#datepicker').datetimepicker({
				 format: 'YYYY-MM-DD'
			  });
			});
			// format: 'YYYY-MM-DD HH:mm:ss'
			$("datepicker").prop('disabled', true);
	    </script>
		
		<script th:inline="none">
		    $(document).ready(function() {
		        // select the advertType dropdown
		        const advertTypeSelect = $('select[id="fileType"]');

		        // select the div with id "station"
		        const toAgencyCodeDiv = $('#toAgencyCode');
				const inputFilePathDiv = $('#inputFilePath');

		        // hide the div initially
				if(advertTypeSelect.val() != 'ICTX'){
					console.log("advertTypeSelect.val :: ",advertTypeSelect.val());
		        toAgencyCodeDiv.hide();
				inputFilePathDiv.hide();
				}
		        // add change event listener to the advertType dropdown
		        advertTypeSelect.change(function() {
		            if ($(this).val() === 'ICTX') {
		                // show the div if ONAIR is selected
		                toAgencyCodeDiv.show();
						inputFilePathDiv.show();
		            } else {
		                // hide the div otherwise
		                toAgencyCodeDiv.hide();
						inputFilePathDiv.hide();
		            }
		        });
		    });
		</script>
</body>
</html>
