<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>IOP Util Files Generate</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

</head>
<body>
	<div class="container">
		<h1>NIOP Util File Generate</h1>
		<div align="right">
		<a th:href="@{/Logout}" class="btn btn-primary link-danger">Logout</a>
		</div>
		<hr>
		<h2>Generate Parameters</h2>

		<form action="#" th:action="@{/NiopGenerateFile}" th:object="${fileValidationParam}"
			method="POST">
			<p>	<b>File Type</b>		<select th:field="*{fileType}" class="form-control mb-4 col-4" id ="fileType">
			    <option th:value="BTVL" th:text="BTVL"></option>
			   <!-- <option th:value="DTVL" th:text="DTVL"></option>
				<option th:value="STRAN" th:text="STRAN"></option>
				<option th:value="SRECON" th:text="SRECON"></option>
				<option th:value="SCORR" th:text="SCORR"></option> -->
			</select>
			</p>
			<!-- <p><b>From Agency Code</b>
				<input type="text" th:field="*{fromAgency}" placeholder="From agency code" class="form-control mb-4 col-4" minlength="4" maxlength="4">
			</p> -->
			
			<p><b>From Agency Code</b>
							<select th:field="*{fromAgency}" class="form-control mb-4 col-4" id ="fromAgencyCode">
							     <option value="NONE">----Select From Agency Code----</option>
							     <option th:each="entry : ${homeAgencyMap.entrySet()}" th:value="${entry.key}" th:text="${entry.value}">
							     </option>
							  </select>
						</p>
						<p id ="toAgencyCode"><b>To Agency Code</b>
													<select th:field="*{toAgency}" class="form-control mb-4 col-4" >
													     <option value="NONE">----Select To Agency Code----</option>
													     <option th:each="entry : ${homeAgencyMap.entrySet()}" th:value="${entry.key}" th:text="${entry.value}">
													     </option>
													  </select>
												</p>  
		<!--	<div id="toAgencyCode">
			<p><b>To Agency Code</b>
							<input type="text" th:field="*{toAgency}" placeholder="From agency code" class="form-control mb-4 col-4" minlength="4" maxlength="4">
						</p>
						</div>	-->		
			<!-- <p><b>File Record Count</b>
				<input type="number" th:field="*{recordCount}" placeholder="Total Record Count" class="form-control mb-4 col-4"  min="1" max="9999999999">
			</p> -->
			 <p><b>File Date</b>
							 <div class='input-group date mb-4 col-4' id='datepicker' >
							           <input type='text' class="form-control " th:field="*{fileDate}" id="fileDate" required/>
							           <span class="input-group-addon">
							             <span class="glyphicon glyphicon-calendar"></span>
							           </span>
							         </div>
						</p>
						<div id="BulkIdentifier">
							<p><b>Bulk Identifier</b>
								<input type="text" th:field="*{bulkIdentifier}" id="bulkIdentifierTxt" pattern="[1-9]{1}[0-9]{0,8}"
									title="maximum 10 digit number only" placeholder="Input bulkIdentifier number" class="form-control mb-4 col-4">
							</p>
						</div>
			<p><b>File Generation Path</b>
				<input type="text" th:field="*{outputFilePath}" id="fileGenPath"  placeholder="File Generation Path" class="form-control mb-4 col-4" required>
			</p>
			<div id="inputFilePath">
			<p><b>Input File Path</b>
							<input type="text" th:field="*{inputFilePath}" id="inputFilePathTxt" placeholder="Input data file Path" class="form-control mb-4 col-4">
						</p>
			</div>		
			<button type="submit" class="btn btn-info col-2">Generate</button>
		</form>

		<hr>
		<!-- <p th:text="|Result :: ${now}!|" /> -->
		<p><b>Result: </b><label th:text="${result}" id="resultlbl"></label></p>
		<a th:href="@{/NiopAgencyList}"> Back to Agency Configuration</a>
	</div>
	
	    <script>
			$(function() {
			  $('#datepicker').datetimepicker({
				 format: 'YYYY-MM-DD'
			  });
			});
			// format: 'YYYY-MM-DD HH:mm:ss'
			$("datepicker").prop('disabled', true);
	    </script>
		
		<script th:inline="none">
		    $(document).ready(function() {
		        // select the advertType dropdown
		        const advertTypeSelect = $('select[id="fileType"]');

		        // select the div with id "station"
		        const toAgencyCodeDiv = $('#toAgencyCode');
				const inputFilePathDiv = $('#inputFilePath');
				const bulkIdentifierDiv = $('#BulkIdentifier');
				console.log("advertTypeSelect.val onload :: ",advertTypeSelect.val());
		        // hide the div initially
				if((advertTypeSelect.val() !== 'STRAN') && (advertTypeSelect.val() !== 'SRECON')
				 && (advertTypeSelect.val() !== 'SCCOR' )){
					console.log("advertTypeSelect.val :: ",advertTypeSelect.val());
		        toAgencyCodeDiv.hide();
				inputFilePathDiv.hide();
				bulkIdentifierDiv.show();
				}
		        // add change event listener to the advertType dropdown
		        advertTypeSelect.change(function() {
		            if ($(this).val() === 'STRAN' || $(this).val() === 'SRECON' 
					|| $(this).val() === 'SCCOR' ) {
		                // show the div if ONAIR is selected $(this).val() === 'ICTX'
		                toAgencyCodeDiv.show();
						inputFilePathDiv.show();
						bulkIdentifierDiv.hide();
		            } else {
		                // hide the div otherwise
		                toAgencyCodeDiv.hide();
						inputFilePathDiv.hide();
						bulkIdentifierDiv.show();
		            }
					customReset();
		        });
		    });
			
			function customReset()
			{
			    document.getElementById("fromAgencyCode").value = "NONE";
			    document.getElementById("toAgencyCode").value = "NONE";
				document.getElementById("fileGenPath").value = "";
				document.getElementById("inputFilePathTxt").value = "";
				document.getElementById("fileDate").value = new Date().toISOString().slice(0, 10);
				document.getElementById("resultlbl").innerHTML="";
			}
		</script>
</body>
</html>
